<div class="container mb-3">
  <div class="row">
    <div class="col col-2">IP-Address:</div>
    <div class="col col-2"><input #ipAddr value="{{hueConfig.ipAddress}}"/></div>
    <div class="col">
      (<a href="http://huetips.com/help/how-to-find-my-bridge-ip-address/" target="_blank">help</a>)
    </div>
  </div>
  <div class="row">
      <div class="col col-2">Application-Name:</div>
      <div class="col col-2"><input #appName readonly value="{{hueConfig.applicationName}}"></div>
      <div class="col"></div>
  </div>
  <div class="row">
      <div class="col col-2">Device-Name:</div>
      <div class="col col-2"><input #devName value="{{hueConfig.deviceName}}"></div>
      <div class="col"></div>
  </div>
  <div class="row">
      <div class="col col-2"></div>
      <div class="col col-2"><button 
        (click)="onTestIpAddr(ipAddr.value, appName.value, devName.value)" 
        class="btn btn-sm btn-outline-info">Try to connect</button></div>
      <div class="col">
          <div *ngIf="hueError && hueError.type === '101'">
          <p>Press the push-link button on the Hue bridge you want to connect to.</p>
          <img src="assets/link-button.png"/>
          <p>Details:</p>
          <pre>{{ hueError | json }}</pre>
        </div>
      </div>
  </div>
  <div class="row justify-content-md-center">
      <div class="col col-2">User-Name:</div>
      <div class="col col"><input readonly size="50" value="{{hueConfig.userName}}"></div>
  </div>
  <div class="row">
      <div class="col col-2"></div>
      <div class="col col-2"><button 
        (click)="saveConfiguration()" 
        class="btn btn-sm btn-outline-info">Save Configuration</button></div>
      <div class="col"></div>
  </div>
  <div class="row">
      <div class="col col-2"></div>
      <div class="col col-2"><button 
        (click)="deleteConfiguration()" 
        class="btn btn-sm btn-outline-info">Delete Configuration</button></div>
      <div class="col"></div>
  </div>
</div>


