<div class="d-flex flex-wrap bd-highlight">
  <div *ngFor="let item of items" class="p-2 bd-highlight">
    <div class="card" style="width: 20rem;">
      <div class="card-block">
        <h4 class="card-title">{{item.name}}</h4>
        <div class="card-text">
          <ul class="list-group">
            <li *ngIf="item.state.on" class="btn btn-success">On</li>
            <li *ngIf="!item.state.on" class="btn btn-info">Off</li>
            <li class="list-group-item">{{item.type}}</li>
            <li class="list-group-item">{{item.modelid}}</li>
          </ul>
          <a href="#" class="btn btn-primary d-flex justify-content-center">Details</a>
        </div>
      </div>
    </div>
  </div>
</div>

<hr/>
<pre>
  {{ response | json }}
</pre>

