<div>

<hr>

<app-display-lights [lights]="lights" (onSwitchLight)="switchLight($event)"></app-display-lights>

<hr>



  <button (click)="onRefresh()" class="btn btn-primary">Refresh</button>

  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Sort order by</button>
    <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
      <button (click)="changeSortOrder('name')" class="dropdown-item">Name</button>
      <button (click)="changeSortOrder('state')" class="dropdown-item">Status</button>
    </div>
  </div>
</div>

<div class="d-flex flex-wrap bd-highlight">
  <div *ngFor="let item of items" class="p-2 bd-highlight">
    <div class="card" style="width: 20rem;">
      <div class="card-block">
        <h4 class="card-title">{{item.name}}</h4>
        <div class="card-text">
          <ul class="list-group">
            <li *ngIf="item.state.on" (click)="onTurnOff(item)" class="btn btn-success">On</li>
            <li *ngIf="!item.state.on" (click)="onTurnOn(item)" class="btn btn-info">Off</li>
            <li class="list-group-item">{{item.type}}</li>
            <li class="list-group-item">{{item.modelid}}</li>
          </ul>
          <a (click)="onDetails(item)" href="#" class="btn btn-primary d-flex justify-content-center">Details</a>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
<pre>
{{ response | json }}
</pre>
